html {
  font-family: serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

#header-image   	{ 
	grid-area: header-image;
	display: inline-grid;
}

#header-title   	{ grid-area: header-title;   }
#about-me 				{ grid-area: about-me; }
#contact          { grid-area: contact; }
#skills           { grid-area: skills; }
#education        { grid-area: education; }
#work-experience 	{ grid-area: work-experience; }

#about-me, #sidebar, #work-experience {
	border-top: 1px solid black;
}

.resume-container {
	display: grid;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;

  grid-template-areas:
    "header-image"
    "header-title"
    "about-me"
    "contact"
    "work-experience"
    "skills"
    "education";
	grid-template-columns: 100%;
}

@media screen and (min-width: 1024px) {
  .resume-container {
    grid-template-areas:
      "header-image header-title"
      "header-image about-me"
      "contact work-experience"
      "skills work-experience"
      "education work-experience";
    grid-template-columns: 35% 65%;
    grid-auto-rows: auto auto auto auto 1fr;
  }
}

h1, h2, h3, h4 {
	font-family: sans-serif;
	line-height: calc(2px + 2ex + 2px);
	margin: 0;
}

section { padding: 20px; }

h1 { font-size: 2.6em; text-decoration: underline; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.25em; }

.circular-image {
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
	align-self: center;
}

.circular-image img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

#header-title h2 {
  font-weight: 100;
}

#contact h1, #skills h1, #education h1 {
	text-align: center;
	font-size: 1.7em;
  margin: 20px 0;
}

#contact, #skills, #education {
	margin: 20px 0;
}

#contact main {
	display: flex;
	justify-content: space-around;
}

#contact a {
	border: 1px solid black;
	border-radius: 5px;
}

#contact a:hover {
	background: lightgrey;
}

.education {
	padding: 10px 20px;
}
.education header {
	font-size: 1.25em;
	font-weight: 600;
	font-family: sans-serif;
}

.work-experience {
	margin: 20px 0;
	padding: 10px;
}

.work-experience header,
.education header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.work-experience time {
	align-self: start;
}

.work-experience h3 {
  font-weight: 100;
}

#work-experience .work-experience:nth-child(even),
#education .education:nth-child(even){
	background: lightgrey;
}

#skills table {
	border-collapse: collapse;
}

#skills table, #skills tr {
	width: 100%;
}

#skills td {
	border: 1px solid black;
}
#skills tr td:first-child {
	width: 50%;
}
#skills tr td:last-child {
	width: 40%;
}

.skill-level {
	display: inline-block;
	width: 100%;
	height: 20px;
	background: black;
}

.skill-10 { width: 100%; }
.skill-9 { width: 90%; }
.skill-8 { width: 80%; }
.skill-7 { width: 70%; }
